# CSCE 421 :: Machine Learning :: Texas A&M University 

# Programming Assignment
**Name:**  
**UIN:**

# Python Warmup
- **100 points**

This assignment tests the basics of Python, NumPy, and Pandas. They are the bread and butter for implementing machine learning algorithms. Hence, it is expected that you should be able to complete this assignment without breaking a lot of sweat. The level of difficulty of the questions varies between easy and medium. So, in case you are unfamiliar with NumPy and Pandas, they should provide you with a nice platform to get up to speed.  

The assignment consists of 15 coding questions. You are required to complete the functions defined in the code blocks following each question.  You only need to fill out sections of the code marked `"YOUR CODE HERE"`. There are a few test cases defined for each question which you may use to verify your implementation. Do **NOT** modify these test cases since we will use them to grade your solutions. Once you've filled out your solutions, submit the notebook on Canvas (see the instructions on Submission). Do **NOT** forget to type in your name and UIN at the beginning of the notebook.

## Tutorial on Jupyter Notebooks

If you are new to jupyter notebooks, you can find more information on how to use them [here](https://realpython.com/jupyter-notebook-introduction/).

## Python Basics

### Question 1 (5 points)
**Complete the function `str_cmp` to return `True` if two strings are the same irrespective of lowercase/uppercase and whitespaces. Else, return `False`.**

In [ ]:
def str_cmp(str_1, str_2):
    # YOUR CODE HERE

In [ ]:
# TEST CASES -- DO NOT MODIFY

# Test Case 1
assert str_cmp("csce", "csce") == True, "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert str_cmp("csce", "csce412") == False, "Failed test case 2"
print("Passed test case 2\n" + "="*20)

# Test Case 3
assert str_cmp("MaChine LeArnIng", "machine learning") == True, "Failed test case 3"
print("Passed test case 3\n" + "="*20)

# Test Case 4
assert str_cmp("Machine Learning!", "Machine Learning") == False, "Failed test case 4"
print("Passed test case 4\n" + "="*20)

# Test Case 5
assert str_cmp("  Machine Learning", "machine    Learning ") == True, "Failed test case 5"
print("Passed test case 5\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

### Question 2 (5 points)
**Complete the function `power_list` in which each element is raised by its index to create a new list. Return the sum of the elements of the new list.**  

Example:  
given list: [1, 2, 3, 4]  
new list: [1, 2, 9, 64]  
sum of the elements of new list: 76

In [ ]:
def power_list(arr):
    ## YOUR CODE HERE

In [ ]:
# TEST CASES -- DO NOT MODIFY

# Test Case 1
assert power_list([i for i in range(5)]) == 289, "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert power_list([-i for i in range(10, -1, -1)]) == 48, "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

### Question 3 (10 points)
**Complete the function `create_stats` that returns the mean and median values of the values arranged in a nested list.**

In [ ]:
def create_stats(universities):
    """
    Return a tuple of (mean students enrolled, median students enrolled, mean tuition, median tuition)
    Return a tuple of (mean cars sold, median cars sold, mean MSRP, median MSRP)
    """
    
    # YOUR CODE HERE

In [ ]:
# TEST CASES -- DO NOT MODIFY

# [[university name, students enrolled, tuition]]
universities = [
    ["Harvard", 19627, 39849],
    ["Massachusetts Institute of Technology", 10566, 40732],
    ["Princeton", 7806, 37000],
    ["Rice", 5870, 35551],
    ["Stanford", 19539, 40569],
    ["Yale", 11706, 40500],
]

# [[model, cars sold, MSRP]]
cars = [
    ["Ford F-series", 52314, 35000],
    ["Toyota RAV4", 41145, 30000],
    ["Honda CR-V", 31530, 32000],
    ["Toyota Camry", 32959, 28000],
    ["Honda Civic", 28318, 23000]
]

# Test Case 1
assert create_stats(universities) == (12519.0, 11136.0, 39033.5, 40174.5), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert create_stats(cars) == (37253.2, 32959, 29600.0, 30000), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

# NumPy Basics

In [ ]:
import numpy as np

### Question 4 (5 points)
**Complete the function `matrix_reshape` to reshape a matrix to the target dimensions given by `n_rows` and `n_cols`.**

In [1]:
def matrix_reshape(mat, n_rows, n_cols):
    # YOUR CODE HERE

SyntaxError: ignored

In [2]:
# TEST CASES -- DO NOT MODIFY

A = np.array([
    [3, -4, 2, 9],
    [6, 1, -5, 2],
    [-7, 8, -1, 6]
])

# Test Case 1
assert (matrix_reshape(np.arange(15), 3, 5) == np.array([[ 0,  1,  2,  3,  4], [ 5,  6,  7,  8,  9], 
                                                            [10, 11, 12, 13, 14]])).all(), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (matrix_reshape(A, 2, 6) == np.array([[ 3, -4,  2,  9,  6,  1],
       [-5,  2, -7,  8, -1,  6]])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

NameError: ignored

### Question 5 (5 points)
**Complete the function `dot_product` that returns the dot product of two matrices. Dot product is also known as matrix multiplication.**

In [ ]:
def dot_product(mat_1, mat_2):
    # YOUR CODE HERE

In [ ]:
# TEST CASES -- DO NOT MODIFY

A = np.array([
    [3, -4, 2, 9],
    [6, 1, -5, 2],
    [-7, 8, -1, 6]
])

# Test Case 1
assert dot_product(A[0,:], A[1,:]) == 22, "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (dot_product(A[0,:], A.T) == np.array([110,  22,  -1])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

# Test Case 3
assert (dot_product(A, A.T) == np.array([[110,  22,  -1], [ 22,  66, -17], 
                                               [ -1, -17, 150]])).all(), "Failed test case 3"
print("Passed test case 3\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

### Question 6 (5 points)
**Complete the function `cross_product` that returns the cross product of two matrices.**

In [ ]:
def cross_product(mat_1, mat_2):
    # YOUR CODE HERE

In [ ]:
# TEST CASES -- DO NOT MODIFY

A = np.array([
    [3, -4, 2, 9],
    [6, 1, -5, 2],
    [-7, 8, -1, 6]
])

# Test Case 1
assert cross_product(A[0,:2], A[:2,1]) == -13, "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert cross_product(A[:2,:2], A[2:,2:])[0] == 14, "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

### Question 7 (5 points)
**Complete the function `inverse` that computes the inverse of a matrix.**

In [ ]:
def inverse(mat):
    # YOUR CODE HERE

In [ ]:
# TEST CASES -- DO NOT MODIFY

A = np.array([
    [6, 1, 1],
    [4, -2, 5],
    [2, 8, 7]
])

# Test Case 1
assert np.allclose(inverse(A), np.array([[ 0.17647059, -0.00326797, -0.02287582],
       [ 0.05882353, -0.13071895,  0.08496732],
       [-0.11764706,  0.1503268 ,  0.05228758]])), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (inverse(A[:2,:2]) == np.array([[ 0.125 ,  0.0625],
       [ 0.25  , -0.375 ]])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

### Question 8 (10 points)
**Complete the function `subtract_mean` that subtracts the row-wise mean from each row of a matrix.**

In [ ]:
def subtract_mean(mat):
    ## YOUR CODE HERE

In [ ]:
A = np.array([
    [3, -4, 2, 9],
    [6, 1, -5, 2],
    [-7, 8, -1, 6]
])

# Test Case 1
assert (subtract_mean(np.arange(12).reshape(4,3)) == np.array([[-1.,  0.,  1.], [-1.,  0.,  1.],
       [-1.,  0.,  1.], [-1.,  0.,  1.]])).all(), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (subtract_mean(A) == np.array([[0.5, -6.5, -0.5,  6.5], [5. ,  0. , -6. ,  1. ], 
        [-8.5,  6.5, -2.5,  4.5]])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

### Question 9 (10 points)
**Complete the function `moving_average` that computes averages over a sliding window of size `window_size` for a 1-D array.**

In [ ]:
def moving_average(arr, window_size):
    # YOUR CODE HERE

In [ ]:
# Test Case 1
assert (moving_average(np.arange(10), 3) == np.arange(8)+1).all(), "Failed test case 1"
print("Passed test case 1\n" + "="*20)

# Test Case 2
assert (moving_average(np.array([-10, 5, 6, -4, 7, 9]), 2) == 
        np.array([-2.5, 5.5, 1, 1.5, 8])).all(), "Failed test case 2"
print("Passed test case 2\n" + "="*20)

print("*"*29 + "\n**  PASSED ALL TEST CASES  **\n" + "*"*29)

# Pandas Basics

In [ ]:
import pandas as pd

The provided data contains flight delay information over a period of 3 days.

**Data Description**    
`From`: Source City  
`To`: Destination City  
`Flight Number`: Flight ID  
`Delay_1`: Delay on Day 1  
`Delay_2`: Delay on Day 2  
`Delay_3`: Delay on Day 3  
`Airline`: Carrier

In [ ]:
data = {'From': ['London', 'Madrid', 'London', 
                   'Budapest', 'Brussels'],
        'To': ['Paris', 'Milan', 'Stockholm', 'Paris', 'London'],
        'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
        'Delay_1': [23, np.nan, 24, 13, 67],
        'Delay_2': [47, np.nan, 43, np.nan, 32],
        'Delay_3': [np.nan, np.nan, 87, np.nan, np.nan],
        'Airline': ['KLM', 'Air France', 'British Airways', 
                    'Air France', 'Swiss Air']}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

### Question 10 (5 points)
**Compute the number of unique cities in `df`.**

In [ ]:
## YOUR CODE HERE

### Question 11 (5 points)
**Calculate the number of flights flying out of `London`.**

In [ ]:
## YOUR CODE HERE

### Question 12 (5 points)
**Which cities are served by `Air France`?**

In [ ]:
## YOUR CODE HERE

### Question 13 (5 points)
**Calculate the total number of missing values (they are `NaN`) in `df`.**

In [ ]:
## YOUR CODE HERE

### Question 14 (10 points)
**Calculate the average delay (ignoring `NaN` values) for all the flights. Then modify `df` by replacing all the `NaN` values in `Delay_1`, `Delay_2`, and, `Delay_3` columns with the average delay.**

In [ ]:
# YOUR CODE HERE

In [ ]:
df.head()

### Question 15 (10 points)
**Some values in the the `FlightNumber` column are missing (`NaN`). These numbers are meant to increase by 10 with each row. So, the `FlightNumber` at row labels 1 and 3 should be 10055 and 10075 respectively. Modify `df` to fill in these missing numbers and make the column an integer column (instead of a float column).**

In [ ]:
## YOUR CODE HERE

In [ ]:
df.head()

In [ ]:
df.info()